<!--Header-->
<div class="container header-contianer">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 header-left">
            <h1><a href="index.html">Thomas Guillod</a></h1>
            <h2><a href="index.html">Power Electronics Research</a></h2>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 header-right">
            <ul class="icons no-print">
                <li>
                    <a href="https://github.com/otvam" class="button button--sacnite button--round-l">
                        <i class="fab fa-github" title="Github link"></i>
                    </a>
                </li>
                <li>
                    <a href="https://linkedin.com/in/tguillod" class="button button--sacnite button--round-l">
                        <i class="fab fa-linkedin" title="Linkedin link"></i>
                    </a>
                </li>
                <li>
                    <a href="mailto:guillod@otvam.ch" class="button button--sacnite button--round-l">
                        <i class="fas fa-envelope" title="Email link"></i>
                    </a>
                </li>
            </ul>
            <p>
                <a href="https://github.com/otvam">github.com/otvam</a>
            </p>
            <p>
                <a href="https://linkedin.com/in/tguillod">linkedin.com/in/tguillod</a>
            </p>
            <p>
                <a href="mailto:guillod@otvam.ch">guillod@otvam.ch</a>
            </p>
        </div>
    </div>
</div>
