<head>
    <!--Website based on modern-resume-theme / MIT license-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Personal website of Thomas Guillod">
    <meta name="author" content="Thomas Guillod">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="main.css">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
</head>
