---
layout: default
---

            <!--Hobby Projects-->
            <div class="container projects-container">
               <h3>Hobby Projects</h3>
               <!--laser_cut_matlab_slicer-->
               <div class="row clearfix layout layout-top-middle">
                  <div class="col-xs-12 col-print-12 details">
                     <h4>Laser Cut Slicer</h4>
                  </div>
                  <div class="col-xs-12 col-print-12">
                     <p class="quote">
                     <strong><a href="https://github.com/otvam/laser_cut_matlab_slicer">GitHub Repository</strong></a><br>
                     MATLAB toolbox - BSD License<br>
                     Personal Project
                     </p>
                     <p>This MATLAB toolbox helps you to realize a 3d object with stacked laser cut plates. Extract the intersection of a 3d STL object and a cut plane, visualize, and export the results as PDF. Create 3d meshed parts from 2d parts, assemble the plates into a 3d construction, and visualize.</p>
                  </div>
               </div>
               <!--wooden_truck_laser_cut-->
               <div class="row clearfix layout layout-top-middle">
                  <div class="col-xs-12 col-print-12 details">
                     <h4>Wooden Toy Truck</h4>
                  </div>
                  <div class="col-xs-12 col-print-12">
                     <p class="quote">
                     <strong><a href="https://github.com/otvam/wooden_truck_laser_cut">GitHub Repository</strong></a><br>
                     CAD drawing - CC BY License<br>
                     Personal Project
                     </p>
                     <p>CAS drawings of a wooden toy truck realized with stacked laser cut plates. The model is inspired by the Mercedes Unimog and is particularly robust. The 2D drawings (PDF) and the 3d CAD (STL) are available.</p>
                  </div>
               </div>
               <!--mesh_from_bitmap_matlab-->
               <div class="row clearfix layout layout-top-middle">
                  <div class="col-xs-12 col-print-12 details">
                     <h4>2D Mesh from Bitmap</h4>
                  </div>
                  <div class="col-xs-12 col-print-12">
                     <p class="quote">
                     <strong><a href="https://github.com/otvam/mesh_from_bitmap_matlab">GitHub Repository</strong></a><br>
                     MATLAB library - BSD License<br>
                     Personal Project
                     </p>
                     <p>This MATLAB code generates a mesh from a black and white bitmap image. Find the contour, simplify the contour, and mesh the shape. It is possible to handle of holes and multiple domains.</p>
                  </div>
               </div>
               <!--yaml_extension_python-->
               <div class="row clearfix layout layout-top-middle">
                  <div class="col-xs-12 col-print-12 details">
                     <h4>YAML Extension</h4>
                  </div>
                  <div class="col-xs-12 col-print-12">
                     <p class="quote">
                     <strong><a href="https://github.com/otvam/yaml_extension_python">GitHub Repository</strong></a><br>
                     Python script - BSD License<br>
                     Personal Project
                     </p>
                     <p>This Python class offers three simple extensions to the YAML format. Including a YAML file inside a YAML file (link),  including relative filesystem path links, and parsing simple Python expressions (using ast).</p>
                  </div>
               </div>
               <!--la_carte_d_arda_flash-->
               <div class="row clearfix layout layout-top-middle">
                  <div class="col-xs-12 col-print-12 details">
                     <h4>Lord of the Rings Map</h4>
                  </div>
                  <div class="col-xs-12 col-print-12">
                     <p class="quote">
                     <strong><a href="https://github.com/otvam/la_carte_d_arda_flash">GitHub Repository</strong></a><br>
                     Flash software - GPL License<br>
                     Personal Project
                     </p>
                     <p>This is an interactive Lord of the Rings Map. I wrote this software in 2005 as a teenager. The software is written in Flash MX 2004/ActionScript 2.0. Therefore, it is probably impossible to open and edit the software with modern tools.</p>
                  </div>
               </div>
            </div>

