---
layout: default
---

<!--About Me-->
<div class="wrapper">
    <div class="container intro-container">
        <h3>About Me</h3>
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-4 col-md-3 no-print">
                <span class="profile-img" style="background-image: url(_images/glacier.jpg)"></span>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 col-print-12">
                <p>Hi, my name’s Thomas and I am a <strong>power electronics engineer and research scientist</strong>. I studied at ETH Zurich, Switzerland (Bachelor, Master, and Ph.D) with a focus on power electronics, medium-voltage systems, and numerical analysis. I am currently doing <strong>research on magnetic material modeling</strong> at the Thayer School of Engineering at <strong>Dartmouth College, USA</strong>. More specifically, my current research interests include high-frequency magnetic components, high-frequency power magnetic materials, and advanced modeling techniques.</p>
                <p>With my engineering and research activities, I am developing several <strong>open-source software and libraries</strong>, mostly for electrical engineering and numerical analysis. Most of these codes are written either in MATLAB or Python. Some tools are very specific for my research but others might be more useful.</p>
            </div>
        </div>
    </div>
</div>
<!--Links-->
<div class="wrapper">
    <div class="container intro-container">
        <h3>Links</h3>
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-4 col-md-3 no-print">
                <span class="profile-img" style="background-image: url(_images/mountain.jpg)"></span>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 col-print-12">
                <ul>
                    <li><strong>Personal</strong></li>
                    <ul>
                        <li><a href="mailto:guillod@otvam.ch">Email - guillod(at)otvam.ch</a></li>
                        <li><a href="gpg_guillod_public.asc">GPG Key - 4B8BBF1BF28E1C6F</a></li>
                        <li><a href="cv_guillod.pdf">Curriculum Vitae</a></li>
                    </ul>
                    <li><strong>Profiles</strong></li>
                    <ul>
                        <li><a href="https://linkedin.com/in/tguillod">Linkedin Profile</a></li>
                        <li><a href="https://github.com/otvam">GitHub Profile</a></li>
                        <li><a href="https://scholar.google.com/citations?user=vIC_c9YAAAAJ&hl">Google Scholar Profile</a></li>
                    </ul>
                    <li><strong>Laboratories</strong></li>
                    <ul>
                        <li><a href="https://pmic.engineering.dartmouth.edu">Dartmouth College / PMIC</a></li>
                        <li><a href="https://pes.ee.ethz.ch">ETH Zurich / PES Laboratory</a></li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--Open-Source-->
<div class="wrapper">
    <div class="container intro-container">
        <h3>Open-Source Software</h3>
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-4 col-md-3 no-print">
                <span class="profile-img" style="background-image: url(_images/diode.png)"></span>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 col-print-12">
                <ul>
                    <li><strong>Software List</strong></li>
                    <ul>
                        <li><a href="science.html">Science Tools</a></li>
                        <li><a href="power.html">Power Electronics Tools</a></li>
                        <li><a href="hobby.html">Hobby Projects</a></li>
                    </ul>
                    <li><strong>Repositories</strong></li>
                    <ul>
                        <li><a href="https://github.com/otvam">Personal GitHub</a></li>
                        <li><a href="https://github.com/ethz-pes">ETH Zurich PES GitHub</a></li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</div>
