---
layout: default
---

         <!--About Me-->
         <div class="wrapper">
            <div class="container intro-container">
               <h3>About Me</h3>
               <div class="row clearfix">
                  <div class="col-xs-12 col-sm-4 col-md-3 no-print">
                     <span class="profile-img" style="background-image: url(profile.jpg)"></span>
                  </div>
                  <div class="col-xs-12 col-sm-8 col-md-9 col-print-12">
                     <p>Hi, my name’s Thomas and I am a <strong>power electronics engineer and research scientist</strong>. I studied at ETH Zurich, Switzerland (Bachelor, Master, and Ph.D) with a focus on power electronics, medium-voltage systems, and numerical analysis. I am currently doing <strong>research on magnetic material modeling</strong> at the Thayer School of Engineering at <strong>Dartmouth College, USA</strong>. More specifically, my current research interests include high-frequency magnetic components, high-frequency power magnetic materials, and advanced modeling techniques.</p>
                     <p>In  with my engineering and research activities, I am developing several <strong>open-source software and libraries</strong>, mostly for science, engineering, and numerical analysis. Most of these codes are written either in MATLAB or Python. Some tools are very specific for my research but others might be more useful.</p>
                  </div>
               </div>
            </div>
         </div>
         <!--Consulting-->
         <div class="wrapper">
            <div class="container intro-container">
               <h3>Links</h3>
               <div class="row clearfix">
                  <div class="col-xs-12 col-sm-4 col-md-3 no-print">
                     <span class="profile-img" style="background-image: url(consulting.png)"></span>
                  </div>
                  <div class="col-xs-12 col-sm-8 col-md-9 col-print-12">
                     <ul>
                         <li><a href="mailto:guillod@otvam.ch">Email - guillod(at)otvam.ch</a></li>
                         <li><a href="gpg_guillod_public.asc">GPG Key - 4B8BBF1BF28E1C6F</a></li>
                     </ul>
                     <ul>
                         <li><a href="cv_guillod.pdf">Curriculum Vitae</a></li>
                         <li><a href="https://linkedin.com/in/tguillod">Linkedin Profile</a></li>
                         <li><a href="https://github.com/otvam">GitHuB Profile</a></li>
                         <li><a href="https://scholar.google.com/citations?user=vIC_c9YAAAAJ&hl">Google Scholar Profile</a></li>
                     </ul>
                     <ul>
                         <li><a href="https://pmic.engineering.dartmouth.edu">Dartmouth College / PMIC</a></li>
                         <li><a href="https://pes.ee.ethz.ch">ETH Zurich / PES Laboratory</a></li>
                     </ul>
                  </div>
               </div>
            </div>
            <!--Science Tools-->
            <div class="container projects-container">
               <h3>Science Tools</h3>
               <!--fem_mesh_matlab-->
               <div class="row clearfix layout layout-top-middle">
                  <div class="col-xs-12 col-print-12 details">
                     <h4>FEM Mesh Toolbox</h4>
                  </div>
                  <div class="col-xs-12 col-print-12">
                     <p class="quote">
                     <strong><a href="https://github.com/otvam/fem_mesh_matlab">GitHub Repository</strong></a><br>
                     MATLAB toolbox - BSD License<br>
                     Personal Project
                     </p>
                     <p>MATLAB toolbox for handling 2D and 3D FEM meshes. The following functions are available: plot the mesh, plot scalar field, plot vector field, integrate data, interpolate data, etc. This library is meant for FEM simulations but can also be used for geographic information system or additive manufacturing.</p>
                  </div>
               </div>
               <!--multi_objective_optimization_matlab-->
               <div class="row clearfix layout layout-top-middle">
                  <div class="col-xs-12 col-print-12 details">
                     <h4>Multi Objective Optimization</h4>
                  </div>
                  <div class="col-xs-12 col-print-12">
                     <p class="quote">
                     <strong><a href="https://github.com/ethz-pes/multi_objective_optimization_matlab">GitHub Repository</strong></a><br>
                     MATLAB toolbox - BSD License<br>
                     ETH Zurich / PES Project
                     </p>
                     <p>MATLAB toolbox for multi-objective optimization. This toolbox offers a common interface for brute-force grid search, single-objective genetic algorithm, and multi-objective genetic algorithm. Different functionalities are offered: continuous variables, discrete variables, variable scaling, constraint handling, vectorized and parallel evaluation, etc.</p>
                  </div>
               </div>
               <!--fourier_series_pwm_matlab-->
               <div class="row clearfix layout layout-top-middle">
                  <div class="col-xs-12 col-print-12 details">
                     <h4>Fourier Series Library</h4>
                  </div>
                  <div class="col-xs-12 col-print-12">
                     <p class="quote">
                     <strong><a href="https://github.com/otvam/fourier_series_pwm_matlab">GitHub Repository</strong></a><br>
                     MATLAB library - BSD License<br>
                     Personal Project
                     </p>
                     <p>Simple MATLAB library offering an abstraction layer for handling Fourier series for continuous signal. The transformation and inverse transformation are implemented with FFTs. The spectrum are properly scaled and truncated.</p>
                  </div>
               </div>
               <!--parallel_coordinates_matlab-->
               <div class="row clearfix layout layout-top-middle">
                  <div class="col-xs-12 col-print-12 details">
                     <h4>Parallel Coordinates Plot</h4>
                  </div>
                  <div class="col-xs-12 col-print-12">
                     <p class="quote">
                     <strong><a href="https://github.com/ethz-pes/fourier_series_pwm_matlab">GitHub Repository</strong></a><br>
                     MATLAB library - BSD License<br>
                     ETH Zurich / PES Project
                     </p>
                     <p>Simple MATLAB library for making parallel coordinates plots with paper quality. Parallel coordinates plots allow the visualization of high-dimensional data. The tool can handle large datasets (vector and raster plots).</p>
                  </div>
               </div>
               <!--scatter_simplify_matlab-->
               <div class="row clearfix layout layout-top-middle">
                  <div class="col-xs-12 col-print-12 details">
                     <h4>Simplify Scatter Plot</h4>
                  </div>
                  <div class="col-xs-12 col-print-12">
                     <p class="quote">
                     <strong><a href="https://github.com/otvam/scatter_simplify_matlab">GitHub Repository</strong></a><br>
                     MATLAB library - BSD License<br>
                     Personal Project
                     </p>
                     <p>Simple MATLAB library for reducing the number of points in a scatter plot. The algorithm detects which points are invisible (outside the frame or below other points) and remove them. This allows the usage of scatter plots with big data.</p>
                  </div>
               </div>
               <!--ethz_euler_matlab-->
               <div class="row clearfix layout layout-top-middle">
                  <div class="col-xs-12 col-print-12 details">
                     <h4>ETHZ Euler Cluster Scripts</h4>
                  </div>
                  <div class="col-xs-12 col-print-12">
                     <p class="quote">
                     <strong><a href="https://github.com/otvam/ethz_euler_matlab">GitHub Repository</strong></a><br>
                     Bash/MATLAB scripts - BSD License<br>
                     Personal Project
                     </p>
                     <p>Simple tutorial explaining how to use the ETHZ EULER high performance computing cluster with parallelized MATLAB simulations. This tutorial does not require any prior knowledge of Linux systems and clusters.</p>
                  </div>
               </div>
               <!--IEEEtran_file_url_doi_link_bibtex-->
               <div class="row clearfix layout layout-top-middle">
                  <div class="col-xs-12 col-print-12 details">
                     <h4>BibTeX with Link and DOI</h4>
                  </div>
                  <div class="col-xs-12 col-print-12">
                     <p class="quote">
                     <strong><a href="https://github.com/otvam/IEEEtran_file_url_doi_link_bibtex">GitHub Repository</strong></a><br>
                     BibTeX /LaTeX scripts - LPPL License<br>
                     Personal Project
                     </p>
                     <p>This modified IEEEtran.bst BibTeX style offers some extension: linking a PDF file, linking an URL, linking a DOI (Digital Object Identifier). This BibTeX style was written for my Ph.D thesis and does not cover all the other entries offered by IEEEtran.bst.</p>
                  </div>
               </div>
            </div>
            <!--Power Electronics Tools-->
            <div class="container projects-container">
               <h3>Power Electronics Tools</h3>
               <!--ai-mag-->
               <div class="row clearfix layout layout-top-middle">
                  <div class="col-xs-12 col-print-12 details">
                     <h4>AI-mag</h4>
                  </div>
                  <div class="col-xs-12 col-print-12">
                     <p class="quote">
                     <strong><a href="https://ai-mag.github.io">Project Website</strong></a><br>
                     MATLAB/Python/COMSOL - BSD License<br>
                     ETH Zurich / PES Project
                     </p>
                     <p>AI-mag is a MATLAB software (using also COMSOL and Python) for power electronic inductor optimization. The goal of this tool is to combine the accuracy of the Finite Element Method (FEM) with the evaluation speed of Artificial Neural Network (ANN). The software can compute 500000 designs per second with less than 3% deviation with respect to 3D FEM simulations.</p>
                  </div>
               </div>
               <!--mirroring_method_matlab-->
               <div class="row clearfix layout layout-top-middle">
                  <div class="col-xs-12 col-print-12 details">
                     <h4>Magnetic Mirroring Method</h4>
                  </div>
                  <div class="col-xs-12 col-print-12">
                     <p class="quote">
                     <strong><a href="https://github.com/ethz-pes/mirroring_method_matlab">GitHub Repository</strong></a><br>
                     MATLAB toolbox - BSD License<br>ETH Zurich / PES Project
                     </p>
                     <p>This MATLAB toolbox is a complete implementation of the magnetic mirroring method also known as method of images. This tool can compute magnetic field pattern, the inductance matrix, and the energy of 2D conductors surrounded by a magnetic core. This is useful for designing inductors and transformers.</p>
                  </div>
               </div>
               <!--litz_wire_losses_fem_matlab-->
               <div class="row clearfix layout layout-top-middle">
                  <div class="col-xs-12 col-print-12 details">
                     <h4>Litz Wire Losses with FEM</h4>
                  </div>
                  <div class="col-xs-12 col-print-12">
                     <p class="quote">
                     <strong><a href="https://github.com/ethz-pes/litz_wire_losses_fem_matlab">GitHub Repository</strong></a><br>
                     MATLAB library - BSD License<br>
                     ETH Zurich / PES Project
                     </p>
                     <p>This MATLAB library extracts the losses of a litz wire winding from the field patterns. The losses are computed in the frequency domain with Bessel functions. The field patterns can be extracted with any simulation software (e.g. COMSOL, ANSYS, OpenFOAM). This is useful for designing inductors and transformers.</p>
                  </div>
               </div>
              <!--litz_wire_homogenization_comsol_matlab-->
              <div class="row clearfix layout layout-top-middle">
                  <div class="col-xs-12 col-print-12 details">
                     <h4>Litz Wire Homogenization</h4>
                  </div>
                  <div class="col-xs-12 col-print-12">
                     <p class="quote">
                     <strong><a href="https://github.com/ethz-pes/litz_wire_homogenization_comsol_matlab">GitHub Repository</strong></a><br>
                     MATLAB/COMSOL library - BSD License<br>
                     ETH Zurich / PES Project
                     </p>
                     <p>This MATLAB/COMSOL library extracts homogenized material parameters for a litz wire. This means that a complex litz wire, which is composed of many strands, can be replaced with a homogeneous material. This virtual material parameters are defined such that the energy and losses match the stranded litz wire.</p>
                  </div>
               </div>
               <!--resistance_inductance_matrix_matlab-->
               <div class="row clearfix layout layout-top-middle">
                  <div class="col-xs-12 col-print-12 details">
                     <h4>Extracting Resistance/Inductance Matrices</h4>
                  </div>
                  <div class="col-xs-12 col-print-12">
                     <p class="quote">
                     <strong><a href="https://github.com/otvam/resistance_inductance_matrix_matlab">GitHub Repository</strong></a><br>
                     MATLAB library - BSD License<br>Personal Project
                     </p>
                     <p>MATLAB library for extracting resistance/inductance matrices from measurements or simulations. Different excitations (currents) are provided with the associated losses/energies and the matrix is extracted. The code supports overdetermined equation systems.</p>
                  </div>
               </div>
               <!--impedance_analyzer_4294A_matlab-->
               <div class="row clearfix layout layout-top-middle">
                  <div class="col-xs-12 col-print-12 details">
                     <h4>Impedance Analyzer 4294A</h4>
                  </div>
                  <div class="col-xs-12 col-print-12">
                     <p class="quote">
                     <strong><a href="https://github.com/ethz-pes/impedance_analyzer_4294A_matlab">GitHub Repository</strong></a><br>
                     MATLAB library - BSD License<br>
                     ETH Zurich / PES Project
                     </p>
                     <p>MATLAB library that offers different functions for working with the HP/Agilent/Keysight 4294A impedance analyzer. More specifically, the tool can read the files produced by the device and compute the measurement tolerances.</p>
                  </div>
               </div>
               <!--FugSource_python_snippet-->
               <div class="row clearfix layout layout-top-middle">
                  <div class="col-xs-12 col-print-12 details">
                     <h4>FuG Source Remote Control</h4>
                  </div>
                  <div class="col-xs-12 col-print-12">
                     <p class="quote">
                     <strong><a href="https://github.com/ethz-pes/FugSource_python_snippet">GitHub Repository</strong></a><br>
                     Python script - BSD License<br>
                     ETH Zurich / PES Project
                     </p>
                     <p>This Python class remote control power sources from FuG Elektronik GmbH over ethernet. You can connect to the power source, enable/disable, set the values (voltage and current), and read the values (voltage and current).</p>
                  </div>
               </div>
               <!--NIDAQmx_python_snippet-->
               <div class="row clearfix layout layout-top-middle">
                  <div class="col-xs-12 col-print-12 details">
                     <h4>NI-DAQmx Control</h4>
                  </div>
                  <div class="col-xs-12 col-print-12">
                     <p class="quote">
                     <strong><a href="https://github.com/ethz-pes/NIDAQmx_python_snippet">GitHub Repository</strong></a><br>
                     Python script - BSD License<br>
                     ETH Zurich / PES Project
                     </p>
                     <p>This Python class controls USB NI data acquisition cards. You can connect to the device and read and write data. The class handles both analog and digital signals. This class was tested with the NI-6215 card for should work with other models.</p>
                  </div>
               </div>
               <!--LecroyScope_python_snippet-->
               <div class="row clearfix layout layout-top-middle">
                  <div class="col-xs-12 col-print-12 details">
                     <h4>Lecroy Scope Control</h4>
                  </div>
                  <div class="col-xs-12 col-print-12">
                     <p class="quote">
                     <strong><a href="https://github.com/ethz-pes/LecroyScope_python_snippet">GitHub Repository</strong></a><br>
                     Python script - BSD License<br>
                     ETH Zurich / PES Project
                     </p>
                     <p>This Python class remote controls Lecroy WaveSurfer oscilloscopes. You can connect to the device, set up the channels, control the trigger, download a screenshot, and download the waveform data. This class was tested with the WaveSurfer 24MXs oscilloscope for should work with other models.</p>
                  </div>
               </div>
            </div>
            <!--Hobby Projects-->
            <div class="container projects-container">
               <h3>Hobby Projects</h3>
               <!--laser_cut_matlab_slicer-->
               <div class="row clearfix layout layout-top-middle">
                  <div class="col-xs-12 col-print-12 details">
                     <h4>Laser Cut Slicer</h4>
                  </div>
                  <div class="col-xs-12 col-print-12">
                     <p class="quote">
                     <strong><a href="https://github.com/otvam/laser_cut_matlab_slicer">GitHub Repository</strong></a><br>
                     MATLAB toolbox - BSD License<br>
                     Personal Project
                     </p>
                     <p>This MATLAB toolbox helps you to realize a 3d object with stacked laser cut plates. Extract the intersection of a 3d STL object and a cut plane, visualize, and export the results as PDF. Create 3d meshed parts from 2d parts, assemble the plates into a 3d construction, and visualize.</p>
                  </div>
               </div>
               <!--wooden_truck_laser_cut-->
               <div class="row clearfix layout layout-top-middle">
                  <div class="col-xs-12 col-print-12 details">
                     <h4>Wooden Toy Truck</h4>
                  </div>
                  <div class="col-xs-12 col-print-12">
                     <p class="quote">
                     <strong><a href="https://github.com/otvam/wooden_truck_laser_cut">GitHub Repository</strong></a><br>
                     CAD drawing - CC BY License<br>
                     Personal Project
                     </p>
                     <p>CAS drawings of a wooden toy truck realized with stacked laser cut plates. The model is inspired by the Mercedes Unimog and is particularly robust. The 2D drawings (PDF) and the 3d CAD (STL) are available.</p>
                  </div>
               </div>
               <!--mesh_from_bitmap_matlab-->
               <div class="row clearfix layout layout-top-middle">
                  <div class="col-xs-12 col-print-12 details">
                     <h4>2D Mesh from Bitmap</h4>
                  </div>
                  <div class="col-xs-12 col-print-12">
                     <p class="quote">
                     <strong><a href="https://github.com/otvam/mesh_from_bitmap_matlab">GitHub Repository</strong></a><br>
                     MATLAB library - BSD License<br>
                     Personal Project
                     </p>
                     <p>This MATLAB code generates a mesh from a black and white bitmap image. Find the contour, simplify the contour, and mesh the shape. It is possible to handle of holes and multiple domains.</p>
                  </div>
               </div>
               <!--yaml_extension_python-->
               <div class="row clearfix layout layout-top-middle">
                  <div class="col-xs-12 col-print-12 details">
                     <h4>YAML Extension</h4>
                  </div>
                  <div class="col-xs-12 col-print-12">
                     <p class="quote">
                     <strong><a href="https://github.com/otvam/yaml_extension_python">GitHub Repository</strong></a><br>
                     Python script - BSD License<br>
                     Personal Project
                     </p>
                     <p>This Python class offers three simple extensions to the YAML format. Including a YAML file inside a YAML file (link),  including relative filesystem path links, and parsing simple Python expressions (using ast).</p>
                  </div>
               </div>
               <!--la_carte_d_arda_flash-->
               <div class="row clearfix layout layout-top-middle">
                  <div class="col-xs-12 col-print-12 details">
                     <h4>Lord of the Rings Map</h4>
                  </div>
                  <div class="col-xs-12 col-print-12">
                     <p class="quote">
                     <strong><a href="https://github.com/otvam/la_carte_d_arda_flash">GitHub Repository</strong></a><br>
                     Flash software - GPL License<br>
                     Personal Project
                     </p>
                     <p>This is an interactive Lord of the Rings Map. I wrote this software in 2005 as a teenager. The software is written in Flash MX 2004/ActionScript 2.0. Therefore, it is probably impossible to open and edit the software with modern tools.</p>
                  </div>
               </div>
            </div>
         </div>

