---
layout: default
---

<!--Power Electronics Tools-->
<div class="container projects-container">
    <h3>Power Electronics Tools</h3>
    <!--ai-mag-->
    <div class="row clearfix layout layout-top-middle">
        <div class="col-xs-12 col-print-12 details">
            <h4>AI-mag: Magnetics with Machine Learning</h4>
        </div>
        <div class="col-xs-12 col-print-12">
            <p class="quote">
                <strong><a href="https://ai-mag.github.io">Project Website</a></strong><br>
                MATLAB/Python/COMSOL - BSD License<br>
                ETH Zurich / PES Project
            </p>
            <p>AI-mag is a MATLAB software (using also COMSOL and Python) for power electronic inductor optimization. The goal of this tool is to combine the accuracy of the Finite Element Method (FEM) with the evaluation speed of Artificial Neural Network (ANN). The software can compute 500000 designs per second with less than 3% deviation with respect to 3D FEM simulations.</p>
        </div>
    </div>
    <!--magnetic_components_toolbox_matlab-->
    <div class="row clearfix layout layout-top-middle">
        <div class="col-xs-12 col-print-12 details">
            <h4>Power Magnetics: Model and Optimization</h4>
        </div>
        <div class="col-xs-12 col-print-12">
            <p class="quote">
                <strong><a href="https://github.com/otvam/magnetic_components_toolbox_matlab">GitHub Repository</a></strong><br>
                MATLAB toolbox - BSD License<br>Personal Project
            </p>
            <p>MATLAB toolbox for modeling and optimizing power magnetics (inductors and transformers). Fast and accurate semi-numerical methods are used (mirroring method, skin and proximity losses, reluctance model, fringing field, core loss map, etc.). The complete code is object-oriented and can be easily extended with abstract classes.</p>
        </div>
    </div>
    <!--mirroring_method_matlab-->
    <div class="row clearfix layout layout-top-middle">
        <div class="col-xs-12 col-print-12 details">
            <h4>Magnetic Mirroring Method</h4>
        </div>
        <div class="col-xs-12 col-print-12">
            <p class="quote">
                <strong><a href="https://github.com/ethz-pes/mirroring_method_matlab">GitHub Repository</a></strong><br>
                MATLAB library - BSD License<br>ETH Zurich / PES Project
            </p>
            <p>This MATLAB library is a complete implementation of the magnetic mirroring method also known as method of images. This tool can compute magnetic field pattern, the inductance matrix, and the energy of 2D conductors surrounded by a magnetic core. This is useful for designing inductors and transformers.</p>
        </div>
    </div>
    <!--litz_wire_losses_fem_matlab-->
    <div class="row clearfix layout layout-top-middle">
        <div class="col-xs-12 col-print-12 details">
            <h4>Litz Wire Losses with FEM</h4>
        </div>
        <div class="col-xs-12 col-print-12">
            <p class="quote">
                <strong><a href="https://github.com/ethz-pes/litz_wire_losses_fem_matlab">GitHub Repository</a></strong><br>
                MATLAB library - BSD License<br>
                ETH Zurich / PES Project
            </p>
            <p>This MATLAB library extracts the losses of a litz wire winding from the field patterns. The losses are computed in the frequency domain with Bessel functions. The field patterns can be extracted with any simulation software (e.g. COMSOL, ANSYS, OpenFOAM). This is useful for designing inductors and transformers.</p>
        </div>
    </div>
    <!--litz_wire_homogenization_comsol_matlab-->
    <div class="row clearfix layout layout-top-middle">
        <div class="col-xs-12 col-print-12 details">
            <h4>Litz Wire Homogenization</h4>
        </div>
        <div class="col-xs-12 col-print-12">
            <p class="quote">
                <strong><a href="https://github.com/ethz-pes/litz_wire_homogenization_comsol_matlab">GitHub Repository</a></strong><br>
                MATLAB/COMSOL library - BSD License<br>
                ETH Zurich / PES Project
            </p>
            <p>This MATLAB/COMSOL library extracts homogenized material parameters for a litz wire. This means that a complex litz wire, which is composed of many strands, can be replaced with a homogeneous material. This virtual material parameters are defined such that the energy and losses match the stranded litz wire.</p>
        </div>
    </div>
    <!--resistance_inductance_matrix_matlab-->
    <div class="row clearfix layout layout-top-middle">
        <div class="col-xs-12 col-print-12 details">
            <h4>Extracting Resistance/Inductance Matrices</h4>
        </div>
        <div class="col-xs-12 col-print-12">
            <p class="quote">
                <strong><a href="https://github.com/otvam/resistance_inductance_matrix_matlab">GitHub Repository</a></strong><br>
                MATLAB library - BSD License<br>Personal Project
            </p>
            <p>MATLAB library for extracting resistance/inductance matrices from measurements or simulations. Different excitations (currents) are provided with the associated losses/energies and the matrix is extracted. The code supports overdetermined equation systems.</p>
        </div>
    </div>
    <!--impedance_analyzer_4294A_matlab-->
    <div class="row clearfix layout layout-top-middle">
        <div class="col-xs-12 col-print-12 details">
            <h4>Impedance Analyzer 4294A</h4>
        </div>
        <div class="col-xs-12 col-print-12">
            <p class="quote">
                <strong><a href="https://github.com/ethz-pes/impedance_analyzer_4294A_matlab">GitHub Repository</a></strong><br>
                MATLAB library - BSD License<br>
                ETH Zurich / PES Project
            </p>
            <p>MATLAB library that offers different functions for working with the HP/Agilent/Keysight 4294A impedance analyzer. More specifically, the tool can read the files produced by the device and compute the measurement tolerances.</p>
        </div>
    </div>
    <!--FugSource_python_snippet-->
    <div class="row clearfix layout layout-top-middle">
        <div class="col-xs-12 col-print-12 details">
            <h4>FuG Source Remote Control</h4>
        </div>
        <div class="col-xs-12 col-print-12">
            <p class="quote">
                <strong><a href="https://github.com/ethz-pes/FugSource_python_snippet">GitHub Repository</a></strong><br>
                Python script - BSD License<br>
                ETH Zurich / PES Project
            </p>
            <p>This Python class remote control power sources from FuG Elektronik GmbH over ethernet. You can connect to the power source, enable/disable, set the values (voltage and current), and read the values (voltage and current).</p>
        </div>
    </div>
    <!--NIDAQmx_python_snippet-->
    <div class="row clearfix layout layout-top-middle">
        <div class="col-xs-12 col-print-12 details">
            <h4>NI-DAQmx Control</h4>
        </div>
        <div class="col-xs-12 col-print-12">
            <p class="quote">
                <strong><a href="https://github.com/ethz-pes/NIDAQmx_python_snippet">GitHub Repository</a></strong><br>
                Python script - BSD License<br>
                ETH Zurich / PES Project
            </p>
            <p>This Python class controls USB NI data acquisition cards. You can connect to the device and read and write data. The class handles both analog and digital signals. This class was tested with the NI-6215 card for should work with other models.</p>
        </div>
    </div>
    <!--LecroyScope_python_snippet-->
    <div class="row clearfix layout layout-top-middle">
        <div class="col-xs-12 col-print-12 details">
            <h4>Lecroy Scope Control</h4>
        </div>
        <div class="col-xs-12 col-print-12">
            <p class="quote">
                <strong><a href="https://github.com/ethz-pes/LecroyScope_python_snippet">GitHub Repository</a></strong><br>
                Python script - BSD License<br>
                ETH Zurich / PES Project
            </p>
            <p>This Python class remote controls Lecroy WaveSurfer oscilloscopes. You can connect to the device, set up the channels, control the trigger, download a screenshot, and download the waveform data. This class was tested with the WaveSurfer 24MXs oscilloscope for should work with other models.</p>
        </div>
    </div>
</div>

